@import "../../styles/variables";

.projects-wrapper {
 
  width: 100%;
  height: calc(100vh - 6vh);
  background-image: url(../../assets/back-projects.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
 
.projects-btn {
   position: relative;
   left: 6.5rem;
   top: .75rem;
   
}
.projects-title {
    color: $colorprimary;
    font-family: $fontprimary;
    margin-top: 1rem;
    margin-bottom: .50rem;
    text-align: center;
  }

.projects-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 row-gap: .50rem; 
}



//Tablet
@media all and (min-width: 768px) {
  .projects-btn{
    left:2rem;
  }
  .projects-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}
//Desktop
@media all and (min-width: 1024px) {
  .projects-title{
    margin-bottom: 1rem;
  }
    .projects-list {
      grid-template-columns: repeat(3, 1fr); 
    }
  
}
