@import "../../styles/variables";

body {
  background-color: $colorcuaternary;
}
.landing-container {
  font-family: $fontprimary;
  color: $colorprimary;
  text-align: center;
  padding-top: 15%;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  cursor: grabbing;
}
