@import "../../styles/variables";

.landing-wrapper {
  background-color: $colorcuaternary;
  height: 95vh;
  width: 100%;
  padding-top: 25%;
  &__nes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  margin-top: 4rem;
  margin-bottom: 10rem;
  cursor: grabbing;
}

//@tablet media

@media all and (min-width: 420px) {
  .landing-wrapper {
    padding-top: 40%;
  }
}

//desktop media

@media all and (min-width: 1024px) {
  .landing-wrapper {
    padding-top: 10%;
  }
}
