//fonts

$fontprimary: "Press Start 2P", cursive;
$fontsecondary: "Roboto";

//colors
$colorprimary: #fbfbef;
$colorsecondary: #a89b52;
$colorterciary: #696f85;
$colorcuaternary: #2c2c2c;
$colorred: #ff0000;
$colorgrey: #dedede;
