//fonts

$fontprimary: "Press Start 2P", cursive;
$fontsecondary: "Oxygen Mono";

//colors
$colorprimary: #fbfbef;
$colorsecondary: #a89b52;
$colorterciary: #696f85;
$colorcuaternary: #2c2c2c;

$colorgrey: #dedede;
