@import "../../../styles/variables";


.card {
  
  width: 21rem;
  height: 32rem;
  align-items: center;
  border-radius: .25rem 1.7rem 6rem;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  margin: 0 auto;
  backdrop-filter: blur( 13.5px );
  background: rgba(247, 243, 243, 0.425);
  border: .1rem solid $colorterciary;
  color: $colorprimary;
  padding: .50rem;
  text-align: center;
  &-title{
    padding: 1rem;
    color: $colorprimary;
  }
  &-img{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    border-radius: 2.5rem;
    margin-left: 1rem;
    width: 18rem;
    height: 10rem;
  }
  &-text{
    margin-top: 1rem;
    font-size: .75rem;
    text-align: left;
  }
  &-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
  }
}
.item{
  border: .15rem dotted $colorprimary;
  padding: .50rem;
}