@import "../../../styles/variables";

.project-card {
  height: 20rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-figure {
  border: 0.2em solid $colorcuaternary;
  position: relative;
  height: 18rem;
  width: 17rem;
  overflow: hidden;
  border-radius: 2em;
  box-shadow: 0px 8px 20px $colorgrey;
  margin-left: 0.7em;
  background: $colorgrey;
  &__title {
    font-size: 0.7rem;
    transition: all 500ms ease-out;
    padding-top: 0.5rem;
    text-align: center;
    margin-bottom: 0;
  }

  &__img {
    width: 100%;
    height: cover;
    transition: all 500ms ease-out;
  }
  &__layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(154, 180, 185, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;

    &__text {
      font-size: 0.5rem;
      text-align: left;
      padding: 0.4rem;
      list-style: none;
      color: $colorcuaternary;
      line-height: 230%;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      list-style: none;
      margin-top: 33%;
    }
  }
  &:hover > &__layer {
    opacity: 1;
    visibility: visible;
  }
}
