@import "../../../styles/variables";

.project-container {
  height: 250px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  border-radius: 4%;
  border: 0.5em solid $colorcuaternary;
  transition: all 0.7s ease-in-out;
  box-shadow: 0px 1px 5px 0px $colorprimary;
  text-align: center;
  background-color: $colorgrey;
  grid-column: auto;

  &:hover {
    height: 480px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px $colorprimary;
  }

  &__list {
    list-style: none;
  }
  &__listItem {
    display: inline;
    margin: auto 15px;
  }

  &__img {
    position: relative;
    border-radius: 15%;
    display: block;
    height: 200px;
    width: 200px;
    border-top: 8px solid $colorterciary;
    border-bottom: 8px solid $colorterciary;
    object-fit: cover;
    margin: 5px auto;
    transition: all 0.3s ease;
  }
  &__title {
    text-align: center;
    font-size: small;
  }
  &__text {
    color: $colorcuaternary;
    font-family: $fontsecondary;
    font-size: 0.7em;
    border-top: 0.2em solid $colorcuaternary;
    border-bottom: 0.2em solid $colorcuaternary;
    list-style: none;
    line-height: 130%;
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
  }
}
