@import "../../styles/variables";

body {
  background-image: url(../../assets/linksword.png);
  background-size: cover;
  background-position: center;
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorprimary;
  padding: 1em;

  &__contactList {
    list-style: none;
  }
  &__contactListItem {
    display: inline;
    padding-right: 2em;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  color: $colorprimary;
}
