@import "../../styles/variables";

.contact-wrapper {
  
  width: 100%;
  background-image: url(../../assets/back-contact.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 2%;
}
.heart-container {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 7%;
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorprimary;
  padding: 1em;

  &__text,
  &__title {
    width: 90%;
    line-height: 150%;
  }
  &__text {
    font-family: $fontsecondary;
  }
  &__title {
    text-align: center;
  }
  &__contactList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  &__contactListItem {
    
    padding-right: 2em;
  }
}

.icon {
  height: 1rem;
  color: $colorprimary;
}

//media tablet

@media all and (min-width: 768px) {
  .contact-wrapper{
    height: calc(100vh - 6vh);
  }
  .heart-container {
    margin-right: 10%;
  }
  .section-container__contactList {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
}

//media desktop

@media all and (min-width: 1024px) {
  .heart-container {
    margin-right: 25%;
  }
  .section-container {
    width: 80%;
    margin-left: 10%;
    &__text {
      width: 70%;
      margin-top: 3%;
    }
    &__contactList{
      margin-top: 8%;
    }
  }
}
