@import "../../styles/variables";

.footer {
  position: absolute;
  bottom: 3%;
  left: 3%;
  text-align: center;
  color: $colorprimary;
  font-family: $fontprimary;
  font-size: small;
  padding-bottom: 1rem;
  &-img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
