@import "../../styles/variables";

.footer {
  background-color: $colorcuaternary;
  text-align: left;
  line-height: 3;
  height: 5vh;
  width: 100%;
  color: $colorprimary;
  font-family: $fontprimary;
  font-size: small;
  padding-left: 3em;
}
