@import "../../styles/variables";

.footer {
  background-color: $colorcuaternary;
  text-align: left;
  height: 5vh;
  width: 100%;
  padding-left: 1em;
  color: $colorprimary;
  font-family: $fontprimary;
  font-size: small;
}
