@import "../../../styles/variables";

.back-btn {
  height: 2rem;
  width: 6rem;
  background-color: $colorprimary;
  border-radius: 3rem;
  outline-style: none;
  font-family: $fontprimary;
  border-bottom: 4px solid hsl(221, 89%, 85%);
  transition: all 0.2s ease-in-out;
  color: $colorcuaternary;
  &:hover {
    color: $colorgrey;
    background-color: $colorcuaternary;
    border-bottom-width: 0;
    border-top-width: 4px;
  }
}
