@import "../../styles/variables";

.aboutme-wrapper {
  background-color: $colorgrey;
  height: 95vh;
  width: 100%;
  overflow: hidden;
}
.gameboy {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 90vw;
  height: 85vh;
  background-color: $colorterciary;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.screen-container {
  position: relative;
  top: 3vh;
  left: 2.5vw;
  width: 85vw;
  height: 30vh;
  background-color: $colorcuaternary;
}
.screen {
  position: relative;
  top: 2vh;
  margin-left: 1vh;
  margin-right: 1vw;
  background-color: #bdae58;
  width: 80vw;
  height: 25vh;
  &_photo {
    height: 12vh;
    width: 32vw;
    margin-left: 1vw;
    margin-top: 0.2vh;
    margin-bottom: 1vh;
    border-radius: 25%;
  }
  &_text {
    font-size: 1vh;
  }
  .nes-container {
    margin-right: 1vh;
    padding: 0.5vh;

    width: 75vw;
    height: 11vh;
  }
}
// .power {
//   content: "";
//   position: absolute;
//   width: 10px;
//   height: 10px;
//   top: 100px;
//   left: 20px;
//   border-radius: 100%;
//   background-color: #b98181;
//   transition: background-color 300ms linear;
// }
// .power:before {
//   content: "BATTERY";
//   position: relative;
//   top: 18px;
//   left: -10px;
//   font-size: 8px;
//   font-family: sans-serif;
//   color: #b3b3b3;
// }
// .power-on {
//   background-color: red;
//   box-shadow: 0 0 3px 1px #ef5350;
// }

.controls-container {
  display: block;
  position: relative;
  margin-top: 90px;
}
.btn-direction {
  position: relative;
  top: 140px;
}
.btn-direction:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  background-color: #353535;
  border-radius: 100%;
}
.vertical,
.horizontal {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 90px;
  background-color: #444;
  border-radius: 5px;
}
.vertical:before {
  content: "";
  position: relative;
  top: 99px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #dedede;
}
.horizontal:before {
  content: "";
  position: relative;
  top: 99px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #dedede;
}
.vertical:after {
  content: "";
  position: relative;
  top: -3px;
  left: -5.6px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #dedede;
}
.horizontal:after {
  content: "";
  position: relative;
  top: -3px;
  left: -5.6px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #dedede;
}
.horizontal {
  transform: rotate(90deg);
}
.btn-AB {
  position: absolute;
  top: 370px;
  left: 187px;
  width: 130px;
  height: 60px;
  background-color: #dfdfdf;
  border-radius: 30px;
  transform: rotate(-25deg);
}
.btn-AB:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  width: 44px;
  height: 44px;
  background-color: #a93671;
  box-shadow: 68px 0 #a93671;
  border-radius: 100%;
  transform: rotate(180deg);
}
.btn-start-select {
  position: absolute;
  top: 520px;
  left: 80px;
  height: 12px;
  width: 60px;
  background: #999;
  border-radius: 10px;
  transform: rotate(-25deg);
  box-shadow: 57px 27px #999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px#dfdfdf;
}
.speakers {
  content: "";
  position: relative;
  height: 70px;
  width: 8px;
  top: 334px;
  left: 252px;
  background-color: #ddd;
  border-radius: 4px;
  transform: rotate(-25deg);
  box-shadow: 20px 0 #ddd, 40px 0 #ddd, 60px 0 #ddd, 80px 0 #ddd, 100px 0 #ddd;
}
.phones {
  position: absolute;
  bottom: 4px;
  left: 50%;
  padding: 3px 5px;
  transform: translateX(-50%);
  color: #dadada;
  background-color: #e8e8e8;
  font-size: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
}
.phones:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  bottom: -4px;
  background-color: #e8e8e8;
  left: 9px;
}
.phones:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  bottom: -4px;
  left: 12px;
  background-color: #ddd;
  box-shadow: 5px 0 #ddd;
  border-radius: 4px 4px 0 0;
}
.on-off {
  position: absolute;
  top: 2px;
  left: 20%;
  padding: 3px 5px;
  transform: translateX(-50%);
  color: #dadada;
  background-color: #e8e8e8;
  font-size: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
}
.on-off:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  top: -2px;
  background-color: #e8e8e8;
  left: 6px;
}
.on-off:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  top: -2px;
  left: 9px;
  background-color: #ddd;
  box-shadow: 5px 0 #ddd;
  border-radius: 0 0 3px 3px;
}
.btn-on,
.btn-off {
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}
.btn-hide {
  display: none;
}

//media tablet
@media all and (min-width: 768px) {
  .aboutme-wrapper {
    overflow: hidden;
  }
  .gameboy {
    position: relative;
    font-family: $fontsecondary;
    width: 101vw;
    height: 48vh;
    background-color: $colorterciary;
    clip-path: polygon(
      0 21%,
      12% 13%,
      20% 4%,
      80% 4%,
      89% 13%,
      104% 22%,
      100% 89%,
      89% 95%,
      85% 100%,
      15% 100%,
      11% 95%,
      0 88%
    );
    border-radius: 20em/8em;
    margin-top: 10vh;
    color: $colorprimary;
  }
  .power {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: darkred;
    right: 14%;
    top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $colorgrey;

    &::before {
      content: "POWER";
      position: relative;
      font-size: 0.8rem;
      top: 0.7rem;
      left: 2rem;
    }
  }
  .screen-container {
    position: relative;
    top: 2rem;
    left: 10rem;
    height: 18rem;
    width: 60%;
    border-radius: 20em/5em;
    background-color: $colorcuaternary;
    padding: 1.7rem;
    box-shadow: rgb(85, 86, 87) 3px 3px 6px 0px inset,
      rgba(20, 18, 18, 0.5) -3px -3px 6px 1px inset;

    .screen {
      position: relative;
      box-sizing: border-box;
      background-color: $colorsecondary;
      width: 24rem;
      height: 13rem;
      top: 1rem;
      left: 1.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.2rem;
      box-shadow: inset 3px 3px rgba(0, 0, 0, 0.15);
      &_photo {
        align-self: flex-start;
        border: solid 1px #fbfbef;
        width: 5rem;
        height: 5rem;
        border-radius: 30%;
        margin-bottom: 0.5em;
      }

      &_text {
        align-self: baseline;
        text-align: start;
        font-size: 0.7em;
        padding: 0.5em;
      }
    }
  }
  .controls-container {
    display: block;
    position: relative;
    &_direction {
      position: relative;
      margin-left: 3rem;
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 9rem;
        left: 1rem;
        width: 1rem;
        height: 1rem;
        background-color: $colorprimary;
        border-radius: 100%;
      }
      &__vertical,
      &__horizontal {
        position: absolute;
        bottom: 7.7rem;
        left: 1rem;
        width: 1.5rem;
        height: 4rem;
        background: $colorprimary;
        border-radius: 5px;

        &::before {
          content: "";
          position: relative;
          top: 3.5rem;
          left: 0.5rem;
          width: 0;
          height: 0;
          border-left: 0.3rem solid transparent;
          border-right: 0.3rem solid transparent;
          border-top: 0.3rem solid $colorgrey;
        }
        &::after {
          content: "";
          position: relative;
          top: 1rem;
          left: -0.2rem;
          width: 0;
          height: 0;
          border-left: 0.3rem solid transparent;
          border-right: 0.3rem solid transparent;
          border-top: 0.3rem solid $colorgrey;
        }
      }
      &__horizontal {
        transform: rotate(90deg);
      }
      &__vertical {
        box-shadow: 13px 0px 16px 0px $colorcuaternary;
      }
    }
    &_AB {
      position: absolute;
      left: 84%;
      top: 35%;
      transform: rotate(-21deg);
      &__A {
        margin-inline: 15px;
      }

      &__A,
      &__B {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        left: 15%;
        top: 50%;
        outline: none;
        background-color: $colorgrey;
        color: $colorprimary;
      }
    }
    &_btn {
      position: absolute;
      bottom: 20%;
      left: 5%;
      transform: rotate(10deg);
      display: flex;
      flex-direction: column;

      &__check {
        margin-bottom: 1em;
        color: $colorterciary;
        font-size: small;
      }
    }
    .nes-btn {
      height: 2.3em;
      width: 7em;
    }
  }

  .speakers {
    content: "";
    position: relative;
    height: 5rem;
    width: 8px;
    bottom: 29%;
    left: 86%;
    border-radius: 4px;
    transform: rotate(78deg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    &-1 {
      content: "";
      position: relative;
      height: 5rem;
      width: 8px;
      left: 156%;
      border-radius: 4px;
      transform: rotate(0deg);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    &-2 {
      content: "";
      position: relative;
      height: 5rem;
      width: 8px;
      bottom: 99%;
      left: 310%;
      border-radius: 4px;
      transform: rotate(0deg);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    &-3 {
      content: "";
      position: relative;
      height: 5rem;
      width: 8px;
      bottom: 198%;
      left: 460%;
      border-radius: 4px;
      transform: rotate(0deg);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    &-4 {
      content: "";
      position: relative;
      height: 5rem;
      width: 8px;
      bottom: 298%;
      left: 630%;
      border-radius: 4px;
      transform: rotate(0deg);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
  }
}
//media desktop
@media all and (min-width: 1024px) {
  .gameboy {
    margin-top: 5vh;
    margin-left: 32vh;
    width: 65vw;
    height: 65vh;
  }
}
